/* Global styles */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
}

header {
  background-color: #203040;
  color: #ffffff;
  padding: 0.5rem 2rem;
  z-index: 999;
}

.brand {
  font-size: 4rem;
  padding-right: 2rem;
}

header a {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 100;
  text-decoration: none;
}

header a:hover {
  color: gray;
}

header i:hover {
  color: gray;
}

.header-input {
  background-color: #203040;
  border: 1px solid gray;
  border-radius: 6%;
  height: 2.5rem;
  width: 20rem;
  color: #ccc;
}

img {
  max-width: 100%;
  display: block;
}

.portrait,
img {
  border-radius: 50%;
}

.secondary-heading,
.sm-secondary-heading {
  color: rgb(153, 147, 147);
  font-weight: 100;
  font-size: 1.8rem;
}

.title {
  margin-top: 4rem;
}

.repo-overview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem;
  border-bottom: 0.1rem solid rgb(230, 225, 225);
  background: rgb(253, 252, 252);
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.sub-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.3rem;
}

.sub-info span {
  margin-right: 0.5rem;
}

.sm-img {
  display: flex;
}

.repo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-top: 0.1rem solid rgb(230, 225, 225);
}

.repo-title {
  color: #3489c2;
  font-size: 2rem;
}

.sub-info {
  font-size: 1.3rem;
  font-weight: 100;
}

.inner-icon {
  color: rgb(146, 141, 141);
  text-shadow: 0 0.1rem 0.1rem #ccc;
  font-size: 1.5rem;
}

#search-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.select {
  padding: 0.5rem;
  background: lightgray;
  font-weight: bold;
  margin-left: 1rem;
  cursor: pointer;
}

.btn {
  padding: 0.5rem;
  border-radius: 12%;
  width: 7rem;
}

i,
button {
  cursor: pointer;
}

#sidebar-btn {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  color: #ccc;
  border: none;
  cursor: pointer;
}

@media screen AND (max-width: 720px) {
  .sm-header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
  }

  .profile {
    display: flex;
    flex-direction: row;
  }

  .portrait {
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .primary-heading {
    color: #444444;
    font-size: 2.5rem;
    margin-left: -33rem;
  }

  .secondary-heading {
    margin-top: -2rem;
    margin-left: -33rem;
  }

  .bio {
    margin-left: 5rem;
    margin-top: 4rem;
  }

  .title {
    margin-left: -33rem;
    margin-top: 1rem;
  }

  .website {
    margin-left: -33rem;
  }

  img.profile-img {
    width: 22%;
  }

  .lg-header {
    display: none;
  }

  .sm-header {
    display: block;
  }

  .sidebar ul li {
    list-style: none;
    margin-left: -4rem;
    padding: 1rem;
    border-top: 0.09rem solid gray;
  }

  .sidebar img {
    width: 5%;
    margin-right: 0.5rem;
  }

  .sidebar {
    background-color: #203040;
    color: #ffffff;
  }

  .sidebar a {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 100;
    text-decoration: none;
  }

  .sidebar input {
    width: 98%;
  }

  .lg-header {
    display: none;
  }

  .overview-heading {
    margin: 2rem auto;
  }

  #search-form {
    position: relative;
    margin-left: -5rem;
  }

  #search-form input {
    width: 100%;
    padding: 0.5rem;
    margin-left: 4rem;
  }

  .select {
    margin-top: 2rem;
    padding: 0.5rem;
    background: lightgray;
    font-weight: bold;
    margin-left: 4rem;
  }

  .form-btn {
    background-color: rgb(41, 150, 41);
    color: #ffffff;
    padding: 0.6rem;
    border-radius: 12%;
    margin-left: 8rem;
    width: 8rem;
  }

  .repo-area {
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 0;
  }

  .repo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-top: 0.1rem solid rgb(230, 225, 225);
  }

  .repo-overview {
    margin-top: 2rem;
  }
}

.wrapper {
  display: grid;

  grid-template-rows: auto auto auto auto;

  grid-template-areas:
    "header"
    "profile"
    "overview"
    "repo";
}

.wrapper .header {
  grid-area: header;
}

.wrapper .profile-area {
  grid-area: profile;
}

.wrapper .repo-overview {
  grid-area: overview;
}

.wrapper .repo-area {
  grid-area: repo;
}

@media (min-width: 720px) {
  .wrapper {
    grid-template-areas:
      "header header header header"
      "overview overview overview overview"
      "profile repo repo repo"
      "profile repo repo repo";

    grid-template-rows: auto auto auto auto;
  }

  .lg-header {
    display: flex;
    align-items: center;
  }

  .sm-header {
    display: none;
  }

  .header-aside-left {
    display: flex;
    align-items: center;
  }

  .header-aside-left a {
    margin: 0.5rem;
  }

  .header-input {
    border-radius: 6%;
    height: 2.5rem;
    margin-left: -1rem;
    width: 15rem;
  }

  .header-aside-right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: auto;
    margin-left: 10rem;
  }

  .header-aside-right i {
    margin-right: 1rem;
  }

  .overview-heading {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  #lg-header-img {
    width: 10%;
  }

  #search-form input {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0;
  }

  .form-btn {
    background-color: rgb(41, 150, 41);
    color: #ffffff;
    padding: 0.6rem;
    border-radius: 12%;
    margin-left: 35rem;
    width: 8rem;
  }

  .profile-area {
    margin-left: -10rem;
    padding-right: 4rem;
  }

  .portrait {
    margin-left: 7rem;
    margin-top: 2rem;
    width: 40%;
  }

  .profile {
    margin-left: 3.5rem;
    margin-top: 2rem;
    line-height: 0.7rem;
    font-size: smaller;
  }

  .bio {
    margin-top: 1rem;
    margin-left: 6rem;
  }

  .primary-heading {
    color: #444444;
    font-size: 2.5rem;
  }

  .secondary-heading {
    margin-top: 0;
  }

  .repo-area {
    margin-left: -5rem;
    padding: 0;
  }
}

@media (min-width: 1020px) {
  .wrapper {
    grid-template-areas:
      "header header header header"
      "overview overview overview overview"
      "profile repo repo repo"
      "profile repo repo repo";

    grid-template-rows: auto auto auto auto;
  }

  .sm-header {
    display: none;
    padding: 2rem;
  }

  .header-aside-left {
    display: flex;
    align-items: center;
  }

  .header-aside-left a {
    margin: 2rem;
  }

  .header-aside-right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: auto;
    margin-left: 65rem;
  }

  .header-aside-right i {
    margin-right: 1rem;
  }

  .overview-heading {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

  #lg-header-img {
    width: 10%;
  }

  .portrait {
    margin-left: 7rem;
    margin-top: 2rem;
    width: 40%;
  }

  #search-form {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
  }

  #search-form input {
    width: 45%;
    padding: 0.5rem;
    margin-top: 1rem;
  }

  .repo-area {
    margin-left: 2rem;
    padding: 0;
  }

  .select {
    margin-top: 1rem;
    padding: 0.5rem;
    background: lightgray;
    font-weight: bold;
  }

  .form-btn {
    background-color: rgb(41, 150, 41);
    color: #ffffff;
    padding: 0.6rem;
    border-radius: 12%;
    margin-left: 25rem;
    width: 8rem;
  }

  .profile {
    margin-left: 10rem;
    margin-right: -30rem;
    margin-top: 2rem;
    line-height: 0.7rem;
    font-size: large;
  }
  .bio {
    margin-top: 4rem;
    margin-left: 5rem;
  }

  .primary-heading {
    color: #444444;
    font-size: 2.5rem;
  }

  .secondary-heading {
    margin-top: 0;
  }
}
